fastapi
uvicorn[standard]
requests
python-dotenv
psycopg2-binary
pandas
numpy
Pillow
opencv-python
torch
torch-geometric
networkx
scikit-learn
websockets
sqlalchemy
aiohttp
pydantic
python-multipart
supabase
rasterio
